header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  height: 50px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.top-nav {
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header-branding-link {
  display: none;
  box-sizing: border-box;
  width: 200px;
  height: 50px;
  padding: 10px;
  align-items: center;
}
.header-logo {
  width: 100%;
}

.close-button-wrapper {
  height: 50px;
}
.close-button-icon {
  padding: 10px 20px;
  font-size: 30px;
  color: #5d9cd6;
  display: none;
  cursor: pointer;
}

.profile-avatar {
  background-color: #5d9cd6;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 20px;
}
.profile-avatar-inner {
  text-decoration: none;
  font-family: "IM Fell English SC", serif;
  font-size: 18px;
  color: #fff;
  display: block;
}

.profile-dropdown-wrapper {
  position: absolute;
  background-color: #fff;
  top: 60px;
  right: 20px;
  width: 200px;
  padding: 15px 0;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #ddd;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}

.collapseProfile {
  display: none;
}

.profile-dropdown-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.profile-dropdown-list li {
  padding: 5px 15px;
  font-size: 20px;
}
.profile-dropdown-list li:hover {
  cursor: pointer;
}

/*
Add dividers after all but the last dropdown-section span.
*/
.dropdown-section:not(:last-of-type):after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(0, 0, 0, 0.15);
}

.profile-dropdown-list li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media screen and (max-width: 899px) {
  .profile-dropdown-wrapper {
    display: none;
  }
}

@media screen and (max-width: 899px) {
  header {
    padding-right: 0px;
  }
  .header-branding-link {
    display: flex;
  }
  .top-nav {
    justify-content: space-between;
  }
  header li a {
    display: none;
  }
  .close-button-icon {
    display: inline-block;
  }
  .profile-avatar {
    display: none;
  }
}
