body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6,
.john-fell {
  font-family: "IM Fell English SC", serif;
}

.app-wrapper {
  display: flex;
}
.app-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.page-comp-wrapper {
  background-color: #fff;
  height: 100%;
  margin-top: 50px;
  padding: 5px 30px;
  box-sizing: border-box;
}

.page-comp-wrapper h1 {
  text-align: center;
}

.gallery-col {
  margin-bottom: 0.8rem;
  text-align: center;
}

.gallery-item-title-link {
  color: #713600;
}
.gallery-item-title-link:hover,
.gallery-item-title-link:active {
  color: #303030;
}

.gallery-item-title {
  margin-top: 8px;
}

.app-inner {
  margin-left: 200px;
}
@media screen and (max-width: 899px) {
  .app-inner {
    margin-left: 0;
  }
}
